extends layout

block content
  div(class='container text-center')
    h1 Short Answers
    p(class='lead') Improving how grading text works for both students and teachers
    a(href='/prompt', class='btn btn-lg btn-primary') Create Prompt