extends ../layout

block content
  div(class='container text-center')
    h1 This is the master!
    hr
    h2 Question: #{question}
    p.lead Answer: #{answer}

    h3 Student Answers
    each ans in student_answers
      div
        h4= ans.name
        p= ans.answer