extends ../layout

block content
  div(class='container text-center')
    h2 Question: #{question}

    div(class='col-md-8 col-md-offset-2')
      form(method='POST' action='/answer/' + id + '/new')
        div.form-group
          label(for='name') Name:
          input#name.form-control(type='text', placeholder='John or Jane Doe' name='name')
        div.form-group
          label(for='answer') Student Answer:
          textarea#answer.form-control(type='text', placeholder='The Union won the American Civil War because...' name='answer')
        button.btn.btn-primary(type='submit') Submit Answer